.baby-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.create-baby-button {
    padding: 1rem;
    margin: 1rem;
    border: 2rem;
    align-self: center;
    border-radius: 5rem;
    width: 10rem;
    background-color: #00c4c0;
    font-family: 'Trebuchet MS';
    font-size: medium;
}

.baby-form-input {
    margin-top: 1rem;
    align-self: center;
    width: 40rem;
    height: 3rem;
    font-family: 'Trebuchet MS';
    font-size: medium;
}

.baby-form-title {
    padding-top: 3rem;
    color: #00c4c0;
    align-self: center;
    font-family: 'Trebuchet MS';
    font-size: xx-large;
}