.main-container {
    display: flex;
    flex-direction: row;
    height: 50%;
    background-color: beige;
}

.baby-events-container {
    width: 50%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
}

.add-event-container {
    width: 50%;
    height: 100%;
    align-self: flex-end;
    background-color: rgb(176, 244, 247);
}

.window {
    height: 100%;
}

.title {
    background-color: aquamarine;
    font-family: 'Trebuchet MS';
    text-align: center;
    font-size: 4rem;
    padding: 2rem;
}